In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv(r"train.csv")
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
train.shape

(891, 12)

In [4]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
train = pd.concat([train, pd.get_dummies(train.Sex, drop_first=True)], axis=1)

In [6]:
train.drop(['Name' , 'Ticket' , 'Sex' ,  "Cabin"], inplace=True, axis=1)

In [7]:
train['Age'].fillna(train['Age'].mode()[0], inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
train

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked  male
0              1         0       3  22.0      1      0   7.2500        S     1
1              2         1       1  38.0      1      0  71.2833        C     0
2              3         1       3  26.0      0      0   7.9250        S     0
3              4         1       1  35.0      1      0  53.1000        S     0
4              5         0       3  35.0      0      0   8.0500        S     1
..           ...       ...     ...   ...    ...    ...      ...      ...   ...
886          887         0       2  27.0      0      0  13.0000        S     1
887          888         1       1  19.0      0      0  30.0000        S     0
888          889         0       3  24.0      1      2  23.4500        S     0
889          890         1       1  26.0      0      0  30.0000        C     1
890          891         0       3  32.0      0      0   7.7500        Q     1

[891 rows x 9 columns]

In [8]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
male           0
dtype: int64

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train['Embarked']= label_encoder.fit_transform(train['Embarked']) 
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Embarked  male
0            1         0       3  22.0      1      0   7.2500         2     1
1            2         1       1  38.0      1      0  71.2833         0     0
2            3         1       3  26.0      0      0   7.9250         2     0
3            4         1       1  35.0      1      0  53.1000         2     0
4            5         0       3  35.0      0      0   8.0500         2     1

In [10]:
train["Age"] = train["Age"].astype(int)

In [11]:
train.to_csv('out.csv' ,index=False)

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
target = train['Survived']
predictors = train.drop(["Survived" , 'PassengerId'],axis=1)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(predictors,target,test_size=0.25,random_state=0)

In [14]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,Y_train)
Y_pred_lr = lr.predict(X_test)

In [ ]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,Y_train)
Y_pred_lr = lr.predict(X_test)

Y_pred_lr.shape

score_lr = round(accuracy_score(Y_pred_lr,Y_test)*100,2)

In [ ]:
## Naive Bayes
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,Y_train)

Y_pred_nb = nb.predict(X_test)

score_nb = round(accuracy_score(Y_pred_nb,Y_test)*100,2)

In [ ]:
##SVM
from sklearn import svm
sv = svm.SVC(kernel='linear')
sv.fit(X_train, Y_train)
Y_pred_svm = sv.predict(X_test)

score_svm = round(accuracy_score(Y_pred_svm ,Y_test)*100,2)

In [ ]:
#K Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,Y_train)
Y_pred_knn=knn.predict(X_test)

score_knn = round(accuracy_score(Y_pred_knn,Y_test)*100,2)

In [ ]:
##Decision Tree
from sklearn.tree import DecisionTreeClassifier

max_accuracy = 0


for x in range(2000):
    dt = DecisionTreeClassifier(random_state=x)
    dt.fit(X_train,Y_train)
    Y_pred_dt = dt.predict(X_test)
    current_accuracy = round(accuracy_score(Y_pred_dt,Y_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_x = x
    

dt = DecisionTreeClassifier(random_state=best_x)
dt.fit(X_train,Y_train)
Y_pred_dt = dt.predict(X_test)

score_dt = round(accuracy_score(Y_pred_dt,Y_test)*100,2)

In [ ]:
##XGBoost
import xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train, Y_train)

Y_pred_xgb = xgb_model.predict(X_test)

score_xgb = round(accuracy_score(Y_pred_xgb,Y_test)*100,2)

In [43]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200, max_depth=9, random_state=2)
model.fit(X_train, Y_train)
Y_pred_rf = model.predict(X_test)
score_rf = round(accuracy_score(Y_pred_rf,Y_test)*100,2)
print (score_rf)

84.75

In [ ]:
scores = [score_lr,score_nb,score_svm,score_knn,score_dt,score_rf,score_xgb ]
algorithms = ["Logistic Regression","Naive Bayes","Support Vector Machine","K-Nearest Neighbors","Decision Tree","Random Forest","XGBoost" ]    

for i in range(len(algorithms)):
    print("The accuracy score achieved using "+algorithms[i]+" is: "+str(scores[i])+" %")

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(15,8)})
plt.xlabel("Algorithms")
plt.ylabel("Accuracy score")
sns.barplot(algorithms,scores)